footer{
	display:flex;
	flex-direction:column;
	div{
		display:flex;
		flex-direction:row;
		justify-content:space-evenly;
		align-items:center;
        #icon-footer{
            width: $w-icono-foot;
        }
	}
    .icon-redes{
        width: 60px;
    }
}
